MessengerAppClientWpf/Service References/MessageAppServiceReference/MessengerApp.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MessengerApp.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MessengerApp.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MessengerAppUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessengerAppUser" nillable="true" type="tns:MessengerAppUser" />
  <xs:complexType name="MessengerAppMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:MessengerAppUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessengerAppMessage" nillable="true" type="tns:MessengerAppMessage" />
</xs:schema>