MessengerAppClientWpf/Service References/MessageAppServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MessengerApp.Service" />
  <xs:element name="RegisterChatUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MessengerApp.Service" minOccurs="0" name="user" nillable="true" type="q1:MessengerAppUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MessengerApp.Service" minOccurs="0" name="message" nillable="true" type="q2:MessengerAppMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageToAllClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MessengerApp.Service" minOccurs="0" name="message" nillable="true" type="q3:MessengerAppMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>